body {
    overflow-y: scroll;

    font-family: 'Roboto', sans-serif;
}

.intro {
    margin-bottom: 50px;
}

.panel {
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.panel-appear {
    margin-bottom: 20px !important;

    opacity: 1;
}