{% extends 'base.html' %}
{% block title %}Welcome to the Message App!{% endblock %}
{% block body %}
<div class="container" style="margin-top:50px">

    <div class="row intro">
        <form class="col-md-6 col-md-offset-3">
            <p><textarea class="form-control" id="messageBox" placeholder="Type your message"></textarea></p>
            <p><button type="button" id="submitButton" class="btn btn-primary pull-right">Submit</button></p>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="messages">

        </div>
    </div>
</div>
{% endblock %}
